<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>image</key>
			<string>enemy.png</string>
			<key>hp</key>
			<string>50</string>
			<key>speed</key>
			<string>10</string>
			<key>time</key>
			<string>0.0</string>
		</dict>
		<dict>
			<key>image</key>
			<string>enemy.png</string>
			<key>hp</key>
			<string>50</string>
			<key>speed</key>
			<string>10</string>
			<key>time</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>image</key>
			<string>enemy.png</string>
			<key>hp</key>
			<string>50</string>
			<key>speed</key>
			<string>10</string>
			<key>time</key>
			<string>1.75</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>enemy.png</string>
			<key>hp</key>
			<string>50</string>
			<key>speed</key>
			<string>3</string>
			<key>time</key>
			<string>0.0</string>
		</dict>
		<dict>
			<key>image</key>
			<string>enemy.png</string>
			<key>hp</key>
			<string>50</string>
			<key>speed</key>
			<string>3</string>
			<key>time</key>
			<string>0.5</string>
		</dict>
		<dict>
			<key>image</key>
			<string>enemy.png</string>
			<key>hp</key>
			<string>50</string>
			<key>speed</key>
			<string>3</string>
			<key>time</key>
			<string>1.0</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>enemy.png</string>
			<key>hp</key>
			<string>50</string>
			<key>speed</key>
			<string>5</string>
			<key>time</key>
			<string>0.0</string>
		</dict>
		<dict>
			<key>image</key>
			<string>enemy.png</string>
			<key>hp</key>
			<string>50</string>
			<key>speed</key>
			<string>5</string>
			<key>time</key>
			<string>0.5</string>
		</dict>
		<dict>
			<key>image</key>
			<string>enemy.png</string>
			<key>hp</key>
			<string>50</string>
			<key>speed</key>
			<string>10</string>
			<key>time</key>
			<string>1.0</string>
		</dict>
	</array>
</array>
</plist>
